In [1]:
x=20
y=16
print(x+y)

36

In [4]:
name=input("Enter name:")
print("Hello",name)

Enter name:Sharanya
Hello Sharanya

In [6]:
hrs=input("Enter Hours:")
rate=input("Enter Rate:")
pay=float(hrs)*float(rate)
print("pay:",pay)

Enter Hours:35
Enter Rate:2.75
pay: 96.25

In [9]:
width=17
height=12.0
print(int(width//2))
print(float(width/2.0))
print(float(width/3))
print(int(1+2*5))

8
8.5
5.666666666666667
11

In [15]:
c=int(input("Enter the temperature in celsius:"))
print("Temperatre in Fahrenheit is:",(((c*9)/5)+32))

Enter the temperature in celsius:37
Temperatre in Fahrenheit is: 98.6